<a href="{{ item.url }}">
	<div class="pt-80 bg-cover bg-center border border-[#000]" style="background-image: url('{{ item.data.banner }}?tr=w-1200');">
		
	</div>
	<div class="mx-6 bg-white -mt-28 md:w-2/3 border border-[#000] shadow-line">
		<div class="p-4">
			<h3 class="mb-2 text-xl font-bold md:text-2xl hover:underline">{{ item.data.title }}</h3>
			<p class="text-[#000] text-sm">{{ item.data.description }}</p>
		</div>
		<div class="p-4 border-t border-[#000]">
			{% include 'tags' %}
		</div>	

	</div>
</a>