
{% if banner and banner != "" %}
  <div class="flex flex-col bg-center h-[calc(100vh-60px)]"><!-- banner-container -->
    <div class="flex-grow bg-center bg-cover" style="background-image: url('{{ banner }}');"></div>
  </div>
{% endif %}

<!-- title block -->
<div class="prose md:prose-lg mx-auto px-6 mt-20">
  <!-- title -->
  <h1 itemprop="name headline" class="text-5xl font-bold lg:text-6xl !mb-[20px]">{{ title }}</h1>
  {% if description %}
    <p class="text-2xl">{{ description }}</p>
  {% endif %}
</div>

