<div class="tags">
  {% for tag in item.data.categories %}
    <span class="inline-flex items-center px-2 pt-1 pb-[4px] pixel-corners-8 text-xs font-medium border-[#000]">{{ tag }}</span>
  {% endfor %}
</div>