---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	{% include 'page-banner' %}

		
	<div itemprop="articleBody" class="content prose md:prose-lg mx-auto px-6 relative py-12">	
		{{ content }}
	</div>

</article>

	{% if galleryImages %}
	<div class="row grid">
		{% for item in galleryImages %}
			{% assign imgsplit = item.gallery | split: '/' %}
			{% if item.size == '1' %}
				<div class="grid-item col-12 col-sm-8 offset-md-2">
					<img src = "https://res.cloudinary.com/dk3qvmifd/image/upload/w_850/{{ imgsplit | last }}" class="full">
				</div>
			{% elsif item.size == '2' %}
				<div class=" grid-item col-12 col-sm-6">
					<img src = "https://res.cloudinary.com/dk3qvmifd/image/upload/w_600/{{ imgsplit | last }}" class="full">
				</div>
			{% elsif item.size == '3' %}
				<div class="grid-item col-12 col-sm-4">
					<img src = "https://res.cloudinary.com/dk3qvmifd/image/upload/w_500/{{ imgsplit | last }}" class="full">
				</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</div>