---
layout: page
title: Work
permalink: /work/
description: "Case studies of my UX, design and development work, showing my approach from conception to execution and demonstrating the impact they've had."
eleventyExcludeFromCollections: true
date:
---

<div class="wide-col">
	
</div>
<div class="content">
	<h2>Other work</h2>
	{% assign gallery-sorted = collections.Work | sort: 'date' | reverse %}
	{% for item in gallery-sorted %}
		<li><a href="{{ item.url }}"><strong>{{item.data.title}}</strong> – {{item.data.categories}} </a></li>
	{% endfor %}
</div>



<div class="sm:flex sm:flex-row  mb-12 border border-[#000] bg-white">
	<div class="sm:basis-1/4 border-b sm:border-r sm:border-b-0 border-[#000] px-6">
		<h2 class="text-lg sticky top-0 bg-white lg:w-44 py-6 inline-block font-bold">Web development</h2>
	</div>
	<div class="sm:basis-3/4 grid gap-6 grid-cols-2 md:grid-cols-3 p-6">
		{% assign gallery-sorted = collections.Work | sort: 'date' | reverse %}
		{% for item in gallery-sorted %}
			{% for cat in item.data.categories%}
			{% if cat == 'Web development'%}
				{% include 'gallery-teaser' %}
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>

<div class="sm:flex sm:flex-row  mb-12 border border-[#000] bg-white">
	<div class="sm:basis-1/4 border-b sm:border-r sm:border-b-0 border-[#000] px-6">
		<h2 class="text-lg sticky top-0 bg-white lg:w-44 py-6 inline-block font-bold">Information architecture</h2>
	</div>
	<div class="sm:basis-3/4 grid gap-6 grid-cols-2 md:grid-cols-3 p-6">
		{% assign gallery-sorted = collections.Work | sort: 'date' | reverse %}
		{% for item in gallery-sorted %}
			{% for cat in item.data.categories%}
			{% if cat == 'Information architecture'%}
				{% include 'gallery-teaser' %}
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>

<div class="sm:flex sm:flex-row mb-12 border border-[#000] bg-white">
	<div class="sm:basis-1/4 border-b sm:border-r sm:border-b-0 border-[#000] px-6">
		<h2 class="text-lg sticky top-0 bg-white lg:w-44 py-6 inline-block font-bold">Design & branding</h2>	
	</div>
	<div class="sm:basis-3/4 grid gap-6 grid-cols-2 md:grid-cols-3 p-6">
		{% assign gallery-sorted = collections.all | sort: 'date' | reverse %}
		{% for item in gallery-sorted %}
			{% for cat in item.data.categories%}
			{% if cat == 'Design'%}
				{% include 'gallery-teaser' %}
			{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>