@font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapUltrabold.woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapMedium.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Machina';
    src: url('/css/fonts/PPNeueMachina-InktrapLight.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-bold-webfont.woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-medium-webfont.woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Safiro';
    src: url('/css/fonts/safiro-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @keyframes reverseMoveBackground {
    0% { background-position: 0 0; }
    100% { background-position: -2000px 0; }
}

@keyframes moveBackground {
    0% { background-position: -2000px 0;}
    100% {background-position: 0 0;}
  }
  

  .loader {
    animation: moveBackground 2s linear infinite;
    background-image: url('/images/gradient.svg');
    background-repeat: repeat-x;
    height: 30px;
    width: 100%;
  }
  .loader {
    opacity: 0;
  }
  .htmx-request .loader,
  .htmx-request.loader {
    cursor: url(/images/site/watch.svg),
    url(/images/site/watch.svg), auto;
  }
  .scroller {
    transition: background-position 0.1s linear; /* Adjust duration and easing as needed */
}


body.busy {
  cursor: url('/images/site/watch.png'), default!important;
}

.pixel-corners-8,
.pixel-corners-8--wrapper {
  clip-path: polygon(0px calc(100% - 5px),
    1px calc(100% - 5px),
    1px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 1px),
    5px calc(100% - 1px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 1px,
    3px 1px,
    3px 2px,
    2px 2px,
    2px 3px,
    1px 3px,
    1px 5px,
    0px 5px);
  position: relative;
}
.pixel-corners-8 {
  border: 1px solid transparent;
}
.pixel-corners-8--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper-8 .pixel-corners-8 {
  display: block;
  clip-path: polygon(1px 5px,
    2px 5px,
    2px 3px,
    3px 3px,
    3px 2px,
    5px 2px,
    5px 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 1px),
    5px calc(100% - 1px),
    5px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 5px),
    1px calc(100% - 5px));
}
.pixel-corners-8::after,
.pixel-corners-8--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 5px),
    1px calc(100% - 5px),
    1px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 1px),
    5px calc(100% - 1px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 1px,
    3px 1px,
    3px 2px,
    2px 2px,
    2px 3px,
    1px 3px,
    1px 5px,
    0px 5px,
    0px 50%,
    1px 50%,
    1px 5px,
    2px 5px,
    2px 3px,
    3px 3px,
    3px 2px,
    5px 2px,
    5px 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 1px),
    5px calc(100% - 1px),
    5px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 5px),
    1px calc(100% - 5px),
    1px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners-8::after {
  margin: -1px;
}
.pixel-corners-12,
.pixel-corners-12--wrapper {
  clip-path: polygon(0px calc(100% - 9px),
    1px calc(100% - 9px),
    1px calc(100% - 8px),
    1px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 5px),
    3px calc(100% - 5px),
    3px calc(100% - 4px),
    4px calc(100% - 3px),
    5px calc(100% - 3px),
    5px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 1px),
    8px calc(100% - 1px),
    9px calc(100% - 1px),
    9px 100%,
    calc(100% - 9px) 100%,
    calc(100% - 9px) calc(100% - 1px),
    calc(100% - 8px) calc(100% - 1px),
    calc(100% - 6px) calc(100% - 1px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 3px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 3px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 1px) calc(100% - 6px),
    calc(100% - 1px) calc(100% - 8px),
    calc(100% - 1px) calc(100% - 9px),
    100% calc(100% - 9px),
    100% 9px,
    calc(100% - 1px) 9px,
    calc(100% - 1px) 8px,
    calc(100% - 1px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 5px,
    calc(100% - 3px) 5px,
    calc(100% - 3px) 4px,
    calc(100% - 4px) 3px,
    calc(100% - 5px) 3px,
    calc(100% - 5px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 1px,
    calc(100% - 8px) 1px,
    calc(100% - 9px) 1px,
    calc(100% - 9px) 0px,
    9px 0px,
    9px 1px,
    8px 1px,
    6px 1px,
    6px 2px,
    5px 2px,
    5px 3px,
    4px 3px,
    3px 4px,
    3px 5px,
    2px 5px,
    2px 6px,
    1px 6px,
    1px 8px,
    1px 9px,
    0px 9px);
  position: relative;
}
.pixel-corners-12 {
  border: 1px solid transparent;
}
.pixel-corners-12--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-12--wrapper .pixel-corners-12 {
  display: block;
  clip-path: polygon(1px 9px,
    2px 9px,
    2px 8px,
    2px 6px,
    3px 6px,
    3px 5px,
    4px 5px,
    4px 4px,
    5px 4px,
    5px 3px,
    6px 3px,
    6px 2px,
    8px 2px,
    9px 2px,
    9px 1px,
    calc(100% - 9px) 1px,
    calc(100% - 9px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 3px,
    calc(100% - 5px) 3px,
    calc(100% - 5px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 5px,
    calc(100% - 3px) 5px,
    calc(100% - 3px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 9px,
    calc(100% - 1px) 9px,
    calc(100% - 1px) calc(100% - 9px),
    calc(100% - 2px) calc(100% - 9px),
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 5px),
    calc(100% - 4px) calc(100% - 5px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 5px) calc(100% - 4px),
    calc(100% - 5px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 9px) calc(100% - 2px),
    calc(100% - 9px) calc(100% - 1px),
    9px calc(100% - 1px),
    9px calc(100% - 2px),
    8px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 3px),
    5px calc(100% - 3px),
    5px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 5px),
    3px calc(100% - 5px),
    3px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 8px),
    2px calc(100% - 9px),
    1px calc(100% - 9px));
}
.pixel-corners-12::after,
.pixel-corners-12--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 9px),
    1px calc(100% - 9px),
    1px calc(100% - 8px),
    1px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 5px),
    3px calc(100% - 5px),
    3px calc(100% - 4px),
    4px calc(100% - 3px),
    5px calc(100% - 3px),
    5px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 1px),
    8px calc(100% - 1px),
    9px calc(100% - 1px),
    9px 100%,
    calc(100% - 9px) 100%,
    calc(100% - 9px) calc(100% - 1px),
    calc(100% - 8px) calc(100% - 1px),
    calc(100% - 6px) calc(100% - 1px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 5px) calc(100% - 3px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 3px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 1px) calc(100% - 6px),
    calc(100% - 1px) calc(100% - 8px),
    calc(100% - 1px) calc(100% - 9px),
    100% calc(100% - 9px),
    100% 9px,
    calc(100% - 1px) 9px,
    calc(100% - 1px) 8px,
    calc(100% - 1px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 5px,
    calc(100% - 3px) 5px,
    calc(100% - 3px) 4px,
    calc(100% - 4px) 3px,
    calc(100% - 5px) 3px,
    calc(100% - 5px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 1px,
    calc(100% - 8px) 1px,
    calc(100% - 9px) 1px,
    calc(100% - 9px) 0px,
    9px 0px,
    9px 1px,
    8px 1px,
    6px 1px,
    6px 2px,
    5px 2px,
    5px 3px,
    4px 3px,
    3px 4px,
    3px 5px,
    2px 5px,
    2px 6px,
    1px 6px,
    1px 8px,
    1px 9px,
    0px 9px,
    0px 50%,
    1px 50%,
    1px 9px,
    2px 9px,
    2px 8px,
    2px 6px,
    3px 6px,
    3px 5px,
    4px 5px,
    4px 4px,
    5px 4px,
    5px 3px,
    6px 3px,
    6px 2px,
    8px 2px,
    9px 2px,
    9px 1px,
    calc(100% - 9px) 1px,
    calc(100% - 9px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 3px,
    calc(100% - 5px) 3px,
    calc(100% - 5px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 5px,
    calc(100% - 3px) 5px,
    calc(100% - 3px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 9px,
    calc(100% - 1px) 9px,
    calc(100% - 1px) calc(100% - 9px),
    calc(100% - 2px) calc(100% - 9px),
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 5px),
    calc(100% - 4px) calc(100% - 5px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 5px) calc(100% - 4px),
    calc(100% - 5px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 9px) calc(100% - 2px),
    calc(100% - 9px) calc(100% - 1px),
    9px calc(100% - 1px),
    9px calc(100% - 2px),
    8px calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 3px),
    5px calc(100% - 3px),
    5px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 5px),
    3px calc(100% - 5px),
    3px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 8px),
    2px calc(100% - 9px),
    1px calc(100% - 9px),
    1px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners-12::after {
  margin: -1px;
}

.pixel-corners-8-b2,
.pixel-corners--8-b2-wrapper {
  clip-path: polygon(0px calc(100% - 5px),
    1px calc(100% - 5px),
    1px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 1px),
    5px calc(100% - 1px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 1px,
    3px 1px,
    3px 2px,
    2px 2px,
    2px 3px,
    1px 3px,
    1px 5px,
    0px 5px);
  position: relative;
}
.pixel-corners-8-b2 {
  border: 2px solid transparent;
}
.pixel-corners-8-b2--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-8-b2--wrapper .pixel-8-b2-corners {
  display: block;
  clip-path: polygon(2px 6px,
    3px 6px,
    3px 4px,
    4px 4px,
    4px 3px,
    6px 3px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 3px,
    calc(100% - 4px) 3px,
    calc(100% - 4px) 4px,
    calc(100% - 3px) 4px,
    calc(100% - 3px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 3px),
    4px calc(100% - 3px),
    4px calc(100% - 4px),
    3px calc(100% - 4px),
    3px calc(100% - 6px),
    2px calc(100% - 6px));
}
.pixel-corners-8-b2::after,
.pixel-corners-8-b2--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 5px),
    1px calc(100% - 5px),
    1px calc(100% - 3px),
    2px calc(100% - 3px),
    2px calc(100% - 2px),
    3px calc(100% - 2px),
    3px calc(100% - 1px),
    5px calc(100% - 1px),
    5px 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 1px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 3px),
    calc(100% - 1px) calc(100% - 5px),
    100% calc(100% - 5px),
    100% 5px,
    calc(100% - 1px) 5px,
    calc(100% - 1px) 3px,
    calc(100% - 2px) 3px,
    calc(100% - 2px) 2px,
    calc(100% - 3px) 2px,
    calc(100% - 3px) 1px,
    calc(100% - 5px) 1px,
    calc(100% - 5px) 0px,
    5px 0px,
    5px 1px,
    3px 1px,
    3px 2px,
    2px 2px,
    2px 3px,
    1px 3px,
    1px 5px,
    0px 5px,
    0px 50%,
    2px 50%,
    2px 6px,
    3px 6px,
    3px 4px,
    4px 4px,
    4px 3px,
    6px 3px,
    6px 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 3px,
    calc(100% - 4px) 3px,
    calc(100% - 4px) 4px,
    calc(100% - 3px) 4px,
    calc(100% - 3px) 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 2px),
    6px calc(100% - 2px),
    6px calc(100% - 3px),
    4px calc(100% - 3px),
    4px calc(100% - 4px),
    3px calc(100% - 4px),
    3px calc(100% - 6px),
    2px calc(100% - 6px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners-8-b2::after {
  margin: -2px;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 7px),
    1px calc(100% - 7px),
    1px calc(100% - 5px),
    2px calc(100% - 5px),
    2px calc(100% - 3px),
    3px calc(100% - 3px),
    3px calc(100% - 2px),
    5px calc(100% - 2px),
    5px calc(100% - 1px),
    7px calc(100% - 1px),
    7px 100%,
    calc(100% - 7px) 100%,
    calc(100% - 7px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 7px),
    100% calc(100% - 7px),
    100% 7px,
    calc(100% - 1px) 7px,
    calc(100% - 1px) 5px,
    calc(100% - 2px) 5px,
    calc(100% - 2px) 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 2px,
    calc(100% - 5px) 2px,
    calc(100% - 5px) 1px,
    calc(100% - 7px) 1px,
    calc(100% - 7px) 0px,
    7px 0px,
    7px 1px,
    5px 1px,
    5px 2px,
    3px 2px,
    3px 3px,
    2px 3px,
    2px 5px,
    1px 5px,
    1px 7px,
    0px 7px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(2px 8px,
    3px 8px,
    3px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 3px,
    8px 3px,
    8px 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 3px) calc(100% - 8px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 8px) calc(100% - 3px),
    calc(100% - 8px) calc(100% - 2px),
    8px calc(100% - 2px),
    8px calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 8px),
    2px calc(100% - 8px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 7px),
    1px calc(100% - 7px),
    1px calc(100% - 5px),
    2px calc(100% - 5px),
    2px calc(100% - 3px),
    3px calc(100% - 3px),
    3px calc(100% - 2px),
    5px calc(100% - 2px),
    5px calc(100% - 1px),
    7px calc(100% - 1px),
    7px 100%,
    calc(100% - 7px) 100%,
    calc(100% - 7px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 3px) calc(100% - 2px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 2px) calc(100% - 3px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 7px),
    100% calc(100% - 7px),
    100% 7px,
    calc(100% - 1px) 7px,
    calc(100% - 1px) 5px,
    calc(100% - 2px) 5px,
    calc(100% - 2px) 3px,
    calc(100% - 3px) 3px,
    calc(100% - 3px) 2px,
    calc(100% - 5px) 2px,
    calc(100% - 5px) 1px,
    calc(100% - 7px) 1px,
    calc(100% - 7px) 0px,
    7px 0px,
    7px 1px,
    5px 1px,
    5px 2px,
    3px 2px,
    3px 3px,
    2px 3px,
    2px 5px,
    1px 5px,
    1px 7px,
    0px 7px,
    0px 50%,
    2px 50%,
    2px 8px,
    3px 8px,
    3px 6px,
    4px 6px,
    4px 4px,
    6px 4px,
    6px 3px,
    8px 3px,
    8px 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 3px) calc(100% - 8px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 8px) calc(100% - 3px),
    calc(100% - 8px) calc(100% - 2px),
    8px calc(100% - 2px),
    8px calc(100% - 3px),
    6px calc(100% - 3px),
    6px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 8px),
    2px calc(100% - 8px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -2px;
}


